.footer{
  background: #000;
  padding: 20px;
  z-index: 1;
  color: white;
 
}
.footer .content{
  font-size: 1.4rem;
  letter-spacing: 0.13rem;
  font-weight: 500;
  text-transform: capitalize;
}
.loc,.phone,.mail{
  line-height: 4rem;
}
.footer .about h3{
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 600;
}
.footer .social a{
  font-size: 2rem;
  margin-right: 2rem;
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.footer .foot-bar{
  color: #a3a3a3;
  font-size: 1.2rem;
  font-weight: 400;
  margin-top: 20px;
}