.img {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100vw;
  height: 100%;
  color: transparent;
}
.mask::after {
  content: "";
  width: 100%;
  height: 130vh;
  position: absolute;
  top: 0;
  left: 0;
  background: #000000bb;
  z-index: -1;
}
.heroimg .content {
  position: relative;
  left: 20%;
  text-align: center;
  width: 60%;
  transform: translateY(50%);
  z-index: 1;
}
.heroimg .content p {
  font-size: 2rem;
  color: rgb(196, 195, 195);
  font-weight: 600;
  line-height: 2rem;
  letter-spacing: 0.16rem;
  text-transform: capitalize;
}
.heroimg .content h1 {
  font-size: 4rem;
  color: white;
  font-weight: 800;
  line-height: 4rem;
  letter-spacing: 0.3rem;
  text-transform: capitalize;
}

.heroimg .btn-yallow {
  color: black;
  border: solid 1.5px whitesmoke;
  border-radius: 8px;
  text-transform: uppercase;
  background: rgb(248, 217, 15);
  font-weight: 600;
  transition: all 0.4s ease-in;
  font-size: 1.4rem;
  padding: 6px;
  text-decoration: none;
  width: max-content;
}
.heroimg .btn-yallow:hover {
  transform: scale(1.15);
  background: rgba(196, 170, 2, 0.664);
  color: white;
}
.heroimg .btn-white {
  background: transparent;
  color: white;
  border: solid 3px whitesmoke;
  text-decoration: none;
  font-size: 1.4rem;
  border-radius: 8px;
  padding: 4px;
}
.heroimg .btn-white:hover {
  background: #d3d3d359;
  transition: all 0.4s ease-in;
}
